---
layout: blog
title: A blog?
---

%p
  This blog began a quite a few years ago and it looked quite differently. It lived in a self-hosted wordpress installation at https://igotbugs.xyz (domain no longer active) and I used it to write about the explorations and tinkering I was doing. I stopped writing a few years in, but I'm planning on writing some more about interesting stuff I did meanwhile.
