---
layout: default
---

%div.home
  %header
    %h1
      Hi, My name is Mário and I'm a Software Engineer

  %article
    %h2
      I've worked on full-stack web development for most of my career.

    %p
      I have developed and worked on simple websites with and without backends, as well as web applications with intricate user experience and complex backend architectures.
    %p
      My preferred stack is a <mark>Ruby on Rails</mark> backend with a <mark>React</mark> frontend. I prefer working with the <mark>PostgreSQL</mark> database.
    %p
      I've written code in many other languages.

  %article
    %h2
      I like building infrastructure and systems.

    %p
      To support the websites and applications I have developed and worked on, I've used managed services, like <mark>Amazon Web Servies</mark> and <mark>Heroku</mark>. I have also managed my own services on bare hardware, having served applications and websites with my own installations of web servers and databases.

  %article
    %h2
      More about me

    %p
      My detailed career and professional experience is available at my <a href="{{ site.linkedin_url }}">LinkedIn</a> profile. You can check out some of the personal projects I've worked on on my <a href="{{ site.github_url }}">GitHub</a>. You can reach me via <a href="mailto:{{ site.email }}">email</a>. If you would like to communicate securily, here's my <a href="{{ site.keybase_url }}/pgp_keys.asc?fingerprint={{ site.pgp_public_key_fingerprint}}">public key</a> (<span class="pre inline">{{ site.pgp_public_key_fingerprint | upcase}}</span>) and <a href="{{ site.keybase_url }}">Keybase</a> profile.
